<p id="notice"><%= notice %></p>

<h1>Welcome!</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @statics.each do |static| %>
      <tr>
        Hello World!
      </tr>
    <% end %>
  </tbody>
</table>

<br>
